// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.lilita{
  font-family: Lilita One;
}

.round {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.rounded15 {
  border-radius: 15px;
}

.border10{
  border: 10px solid #000;
}
.border5{
  border: 5px solid #000;
}
.bdb4{
  border-bottom: 4px solid #000;
}

.underline{
  text-decoration: underline;
}

.h100{
  height: 100% !important;
}
.w100{
  width: 100% !important;
}

.fp-watermark>a{
  display: none !important;
}
